# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules
yarn.lock

# grunt-wordpress-deploy
backups
Gruntfile.js
!Gruntfile.js.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
